/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff"); }

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff"); }

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff"); }

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff"); }

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff"); }

/** Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff"); }

body, div, span {
  margin: 0;
  padding: 0; }

div {
  font-family: 'San Francisco', 'SF UI Display', Helvetica, Arial, sans-serif; }

h2 {
  font-size: 128px;
  text-transform: full-width; }

.slide {
  height: 100vh; }

#portada {
  color: white;
  font-weight: bolder; }
  #portada .content {
    padding: 0; }
  #portada .element {
    display: block;
    position: absolute; }
  #portada .signature {
    top: 15vh;
    left: 59vw;
    transform: rotate(63deg);
    font-size: 3vh; }
  #portada .subtitle {
    font-size: 4vh;
    margin: 16px 0 0 48px; }
  #portada .title {
    width: 100vw;
    height: 100vh;
    padding-top: 30vh; }
    #portada .title .highlight {
      font-size: 16.5vw;
      text-transform: uppercase; }
    #portada .title .outline {
      color: rgba(230, 0, 0, 0);
      -webkit-text-stroke-color: black;
      -webkit-text-stroke-width: 1px; }
  #portada .bg div {
    display: block;
    width: 14.28571vw;
    height: 100vh;
    float: left;
    top: 50%; }
  #portada .bg div:nth-of-type(1) {
    background-color: #F0C400; }
  #portada .bg div:nth-of-type(2) {
    background-color: #98D417; }
  #portada .bg div:nth-of-type(3) {
    background-color: #1BB84D; }
  #portada .bg div:nth-of-type(4) {
    background-color: #069ADE; }
  #portada .bg div:nth-of-type(5) {
    background-color: #6C2EF3; }
  #portada .bg div:nth-of-type(6) {
    background-color: #BF1589; }
  #portada .bg div:nth-of-type(7) {
    background-color: #D74E0F; }

.half_left {
  display: inline-block;
  float: left;
  width: 50%;
  height: 100%; }

.half_right {
  float: right;
  display: inline-block;
  width: 50%;
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

#red_box {
  position: relative;
  width: 100px;
  height: 100px;
  background: #D74E0F;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px; }

#role {
  padding-top: 35vh; }
  #role div {
    width: 100%;
    text-align: center;
    position: absolute; }
  #role h1 {
    font-size: 10vh; }
  #role h1.relocate {
    transition: transform ease 0.4s;
    transform: translate(-8vw, 0); }
  #role #abreviate h1.relocate {
    transition: transform ease 0.3s;
    transform: translate(-18vw, 0); }
  #role .far {
    display: inline-block; }
  #role .far.away {
    transition: transform cubic-bezier(0.39, -0.21, 0.94, 0.6) 0.4s;
    transform: translate(-750px, -750px) rotate(2520deg);
    display: inline-block; }
  #role #far.away {
    /*transition: transform ease 1s;
    transform: translate(-750px,-750px);
    display: inline-block;*/ }
  #role .clicker {
    display: none; }
  #role .clicker.show {
    display: inline-block;
    opacity: 1;
    transition: all ease 1s; }
  #role .clicker.hide {
    display: inline-block;
    opacity: 0;
    transition: all ease 1s; }

.center {
  width: 1000px;
  margin: 0 auto; }

#bibliousal h1 {
  text-align: center; }

#bibliousal .content {
  padding-top: 64px; }

#bibliousal #bibliousal_screen {
  width: 448px;
  height: 795.2px;
  background: #069ADE;
  margin: 0 auto; }

#bibliousal .absolute {
  min-height: 100px;
  min-width: 100px;
  position: absolute; }

#bibliousal .cover {
  width: 100vw;
  background: #98D417;
  height: 100vh; }

#bibliousal #bibliousal_caramelos .padding_wrapper {
  padding: 48px; }
  #bibliousal #bibliousal_caramelos .padding_wrapper .seventh:nth-of-type(1).away {
    transition: transform cubic-bezier(0.4, -0.24, 0.67, 0.79) 1s;
    transform: translate(-3000px, 0); }
  #bibliousal #bibliousal_caramelos .padding_wrapper .seventh:nth-of-type(2).away {
    transition: transform cubic-bezier(0.4, -0.24, 0.67, 0.79) 1s;
    transform: translate(-2000px, 0); }
  #bibliousal #bibliousal_caramelos .padding_wrapper .seventh:nth-of-type(3).away {
    transition: transform cubic-bezier(0.4, -0.24, 0.67, 0.79) 1s;
    transform: translate(-1000px, 0); }
  #bibliousal #bibliousal_caramelos .padding_wrapper .seventh:nth-of-type(4).away {
    transition: transform cubic-bezier(0.4, -0.24, 0.67, 0.79) 0.4s;
    transform: scale(1.4); }
  #bibliousal #bibliousal_caramelos .padding_wrapper .seventh:nth-of-type(5).away {
    transition: transform cubic-bezier(0.4, -0.24, 0.67, 0.79) 1s;
    transform: translate(1000px, 0); }
  #bibliousal #bibliousal_caramelos .padding_wrapper .seventh:nth-of-type(6).away {
    transition: transform cubic-bezier(0.4, -0.24, 0.67, 0.79) 1s;
    transform: translate(2000px, 0); }
  #bibliousal #bibliousal_caramelos .padding_wrapper .seventh:nth-of-type(7).away {
    transition: transform cubic-bezier(0.4, -0.24, 0.67, 0.79) 1s;
    transform: translate(3000px, 0); }

.seventh {
  display: block;
  width: 14.28571%;
  height: 100vh;
  float: left;
  top: 50%; }
  .seventh .button {
    width: 80px;
    height: 80px;
    margin: 35vh auto;
    background: #6C2EF3; }
